/* contact */
.contact-part {
  height: auto;
  justify-content: center;
}

/* part calendly */
.calendly {
  /* background-color: hsl(259, 92%, 76%, 0.2); */
}

/* .calendly-inline-widget {
  justify-content: center!important;
} */

/* part text */
.part-text {
  background: url(./../assets/illustrations/contact-bg-6-white.jpg);
  background-repeat: no-repeat;
}

.part-text h5 {
  color: var(--Light-Purple);
  flex-direction: row;
  font-family: 'Anton';
  font-size: clamp(1.2rem, 1.0769rem + 0.6154vw, 1.8rem);
  padding: 10%;
}

.part-text h5::before {
  border-top: 1px solid var(--White);
  content: '';
  width: 1.5rem;
}

.part-text p {
  color: var(--White);
  font-family: 'Poppins';
  font-size: 1rem;
  text-transform: none;
}

/* media queries */
@media screen and (max-width: 1023px) {
  .calendly{
    flex-direction: column;
  }
}

@media screen and (min-width: 1024px) {
  .part-text {
    background-size: cover;
  }
}