/* mobile screensize */

footer {
  background-color: var(--Light-Purple);
  margin-bottom: 0;
}

.footer {
  padding: 3rem 0 0 0;
}

/* titles */
.footer-title h5 {
  color: var(--White);
  font-family: 'Aventi';
  font-size: 1.8rem;
  margin-bottom: 0;
}

.footer-title h6 {
  color: var(--Dark-Purple);
  font-family: 'Anton';
  font-size: 1.5rem;
  font-style: italic;
}

.footer-highlight {
  font-size: larger;
}

.footer-title h6 i {
  font-size: .5rem;
}

/* buttons */
.footer-button span {
  color: var(--Dark-Purple);
  font-family: 'Anton';
  font-size: 1.5rem;
}

.footer-button a {
  background-color: var(--Light-Purple);
  border: 1px solid var(--White);
  border-radius: .3rem;
  color: var(--Dark-Purple);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  margin: 5px;
  padding: .5rem;
  text-decoration: none;
  width: 150px;
}

.footer-button a:hover {
  background-color: var(--White);
}

/* bottom */
.footer-bottom p {
  justify-content: space-between;
}

.bottom-title span {
  color: var(--White);
  font-size: .9rem;
}

.bottom-title .copy-i i {
  font-size: .5rem;
}

/* .bottom-title p .plus-i i {
  font-size: 1rem;
} */
