footer {
  background-color: var(--Light-Purple);
  border-top: 2px solid var(--White);
  margin-bottom: 0;
  margin-top: 10rem;
}

.footer {
  bottom: 0;
  padding: 4rem 0 0 0;
}

/* titles */
.footer-title h5 {
  color: var(--White);
  font-family: 'Aventi';
  font-size: clamp(2rem, 1.5897rem + 2.0513vw, 4rem);
  margin-bottom: 0;
}

.footer-title h6 {
  color: var(--Dark-Purple);
  font-family: 'Anton';
  font-size: 1.5rem;
  font-style: italic;
}

.footer-title h6 i {
  font-size: .5rem;
}

/* buttons */
.footer-button a {
  background-color: var(--Light-Purple);
  border: 2px solid var(--White);
  color: var(--Dark-Purple);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  margin: 10px;
  padding: .5rem;
  text-decoration: none;
  transition: all .5s ease;
  width: 150px;
}

.footer-button a:hover {
  background-color: var(--White);
  cursor: none;
  transform: translate(0, -5px);
}

/* bottom */
.footer-bottom p {
  justify-content: space-between;
}

.bottom-title span,
.bottom-title a {
  color: var(--White);
  font-size: clamp(0.75rem, 0.7397rem + 0.0513vw, 0.8rem);
}

.bottom-title a:hover {
  color: var(--Dark-Purple);
}

.bottom-title .copy-i i {
  font-size: .5rem;
}

/* .bottom-title p .plus-i i {
  font-size: 1rem;
} */
