/* mobile screensize */

/* header */
.header {
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}
.header img {
  width: 2.5rem;
}

/* nav */
.navbar {
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.bar {
  background-color: var(--Light-Purple);
  border-radius: 2px;
  display: block;
  height: 4px;
  margin: 2px auto;
  width: 30px;
}

.nav-menu {
  align-items: center;
  background-image: linear-gradient(to top, #242132, #413a5f, #625491, #8670c4, #ae8cfa);    
  color: var(--White);
  cursor: pointer;
  flex-direction: column;
  font-family: 'Boska';
  font-size: 2.3rem;
  height: 100vh;
  justify-content: space-evenly;
  letter-spacing: .5rem;
  padding: 0;
  position: fixed;
  right: -100%;
  text-transform: uppercase;
  top: 0;
  transition: 0.3s;
  width: 100vw;
  z-index: 100;
}

.nav-menu.active {
  right: 0;
}

.burger {
  cursor: pointer;
  display: block;
  flex-direction: column;
  justify-content: center;
}

/* Overlay */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  z-index: 99;
}

.first {
  background: var(--Light-Purple);
}

.second {
  background: var(--Light-Purple);
  left: 33.3%;
}

.third {
  background: var(--Light-Purple);
  left: 66.6%;
}

/* social media */
.social-media {
  gap: 1rem;
  justify-content: center;
}

.social-media a {
  color: var(--Light-Purple);
  font-size: 1.5rem;
}