.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin-top: -50px;
  position: relative;
}

/* splitting word */
.home-title h1 {
  color: var(--Light-Purple);
  font-family: 'Aventi';
  font-size: clamp(2.8rem, 1.9385rem + 4.3077vw, 6rem);
  max-width: 611px;
}

.home-title i {
  font-size: 30%;
}

.home-title lottie-player {
  filter: drop-shadow(0 0 .3rem var(--Light-Purple));
  height: clamp(15.625rem, 11.1378rem + 22.4359vw, 37.5rem);
  position: absolute;
  right: 9%;
  /* top: 5%; */
  top: 18%;
  width: clamp(15.625rem, 11.1378rem + 22.4359vw, 37.5rem);
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .home-title lottie-player {
    display: none;
  }
}

.home-paragraph {
  color: var(--White);
  font-size: clamp(0.9rem, 0.8385rem + 0.3077vw, 1.2rem)
}

.reveal {
	opacity: 0;
}

.reveal.splitting {
	opacity: 1;
}

.splitting .word {
  display: inline-block;
  transform: translate3d(0,100%,0);
  will-change: transform;
  opacity: 0;
}

.splitting.animate .word {
  animation: slide-in .7s cubic-bezier(0.420, 0.000, 0.580, 1.000) both;
  animation-delay: calc(30ms * var(--word-index));
}

@keyframes slide-in {
  to {
  	transform: translate3d(0,0%,0);
    opacity: 1;
  }
}

/* paragraph */
.paragraph-list {
  color: var(--White);
  font-size: clamp(0.8rem, 0.7795rem + 0.1026vw, 0.9rem);
  flex-direction: column;
  text-align: justify;
  gap: 10rem;
}

.list-question {
  flex-direction: column;
  gap: .3rem;
}

.list-question li {
  display: flex;
  align-items: flex-end;
}

.list-question i {
  color: var(--Light-Purple);
  font-size: .8rem;
}

.paragraph-highlight {
  color: var(--Light-Purple);
  font-weight: 100;
  opacity: 1;
}

/* paragraph button */
.the-arrow {
  transition: all 0.2s;
  user-select: none;
  width: 1px;
}

.the-arrow.-left {
  left: 0;
  position: absolute;
  top: 60%;
}

.the-arrow.-left > .shaft {
  background-color: var(--Light-Purple);
  width: 0;
}

.the-arrow.-left > .shaft:before, .the-arrow.-left > .shaft:after {
  background-color: var(--Light-Purple);
  width: 0;
}

.the-arrow.-left > .shaft:before {
  transform: rotate(0);
}

.the-arrow.-left > .shaft:after {
  transform: rotate(0);
}

.the-arrow.-right {
  top: 3px;
}

.the-arrow.-right > .shaft {
  transition-delay: 0.2s;
  width: 1px;
}

.the-arrow.-right > .shaft:before, .the-arrow.-right > .shaft:after {
  transition-delay: 0.3s;
  transition: all 0.5s;
  width: 8px;
}

.the-arrow.-right > .shaft:before {

  transform: rotate(40deg);
}

.the-arrow.-right > .shaft:after {
  transform: rotate(-40deg);
}

.the-arrow > .shaft {
  background-color: var(--Light-Purple);
  display: block;
  height: 1px;
  position: relative;
  top: -3.8px;
  transition: all 0.2s;
  transition-delay: 0;
  will-change: transform;
}

.the-arrow > .shaft:before, .the-arrow > .shaft:after {
  background-color: var(--Light-Purple);
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.2s;
  transition-delay: 0;
}

.the-arrow > .shaft:before {
  transform-origin: top right;
}

.the-arrow > .shaft:after {
  transform-origin: bottom right;
}

.animated-arrow {
  display: inline-block;
  color: var(--Light-Purple);
  font-style: italic;
  text-decoration: none;
  position: relative;
  transition: all 0.2s;
}

.animated-arrow:hover {
  color: var(--Light-Purple);
}

.animated-arrow:hover > .the-arrow.-left > .shaft {
  transition-delay: 0.1s;
  background-color: var(--Light-Purple);
  width: 50px;
}

.animated-arrow:hover > .the-arrow.-left > .shaft:before, .animated-arrow:hover > .the-arrow.-left > .shaft:after {
  transition-delay: 0.1s;
  background-color: var(--Light-Purple);
  width: 8px;
}

.animated-arrow:hover > .the-arrow.-left > .shaft:before {
  transform: rotate(40deg);
}

.animated-arrow:hover > .the-arrow.-left > .shaft:after {
  transform: rotate(-40deg);
}

.animated-arrow:hover > .paragraph-main {
  transform: translateX(17px);
  transform: translateX(60px);
}

.animated-arrow:hover > .paragraph-main > .the-arrow.-right > .shaft {
  transform: translateX(200%);
  transition-delay: 0;
  width: 0;
}

.animated-arrow:hover > .paragraph-main > .the-arrow.-right > .shaft:before, .animated-arrow:hover > .paragraph-main > .the-arrow.-right > .shaft:after {
  transition-delay: 0;
  transition: all 0.1s;
  width: 0;
}

.animated-arrow:hover > .paragraph-main > .the-arrow.-right > .shaft:before {
  transform: rotate(0);
}

.animated-arrow:hover > .paragraph-main > .the-arrow.-right > .shaft:after {
  transform: rotate(0);
}

.animated-arrow > .paragraph-main {
  align-items: center;
  display: flex;
  transition: all 0.2s;
}

.animated-arrow > .paragraph-main > .paragraph-text {
  animation: horizontal-shaking 4s infinite;
  color: var(--White);
  font-size: .8rem;
  margin: 0 16px 0 0;
  line-height: 1;
}

.animated-arrow > .paragraph-main > .the-arrow {
  position: relative;
}

@keyframes horizontal-shaking {
  0% { 
    transform: translateX(0) 
  }
  25% { 
    transform: translateX(5px) 
  }
  50% { 
    transform: translateX(-5px) 
  }
  75% { 
    transform: translateX(5px) 
  }
  100% { 
    transform: translateX(0) 
  }
}

/* button */
.landing-button {
  margin-top: 3rem;
}

.landing-button a {
  background: transparent;
  border: 2px solid var(--White);
  bottom: 0;
  color: var(--White);
  cursor: pointer;
  display: inline-block;
  font-size: .8rem;
  margin: 0 20px 10px 0;
  padding: .7rem 1.2rem;
  text-transform: uppercase;
  transition: all .5s ease;
  width: 130px;
}

.landing-button a:nth-child(1) {
  background-color: var(--Light-Purple);
}

.landing-button a:hover {
  background-color: var(--Light-Purple);
  font-weight: 900;
  transform: translate(0, -5px);
}

.button-bg {
  border: 35px solid var(--Light-Purple);
  filter: blur(70px);
  position: absolute;
  width: 18.5rem;
  z-index: -1;
}

/* social media */
.media-list {
  flex-direction: column;
  font-size: clamp(1.125rem, 1.0353rem + 0.4487vw, 1.5625rem);
  gap: .7rem;
  position: fixed;
  right: 10px;
  top: 150px;
}

.media-list li a {
  color: var(--White);
  cursor: pointer;
  transition: all .8s ease;
}

.media-list a i:hover {
  color: var(--Light-Purple);
  transform: translate(0, -2px);
}

/* larger screensize */
@media screen and (min-width: 1024px) {
  .home-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .home-title h1 {
    max-width: 70rem;
  }
  .list-question {
    flex-direction: row;
    gap: 3rem;
  }
}