/* mobile screensize */

.home {
  height: 100vh;
}

/* landing page */
.landing-page {
  margin-top: 1rem;
}

.landing-page h1 {
  color: var(--Light-Purple);
  font-family: 'Aventi';
  font-size: 2.4rem;
}

.landing-title {
  flex-direction: column;
}

/* button */
.landing-button a {
  background: transparent;
  border: 1px solid var(--White);
  border-radius: .3rem;
  color: var(--White);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  margin: 5px;
  padding: .5rem;
  text-decoration: none;
  width: 150px;
}

.landing-button a:hover {
  background-color: var(--Light-Purple);
}