

/* menu arrow */

nav {
  position: fixed;
  top: 0;
  background: var(--Light-Purple);
  height: 100vh;
  width: 100vw;
}

.menu-list {
  align-items: center;
  flex-direction: column;
  justify-items: center;
  padding: 0;
}

.menu-list a {
  color: var(--White);
}

.menu-list li {
  display: flex;
}

#showNav {
  display: none;
}
#showNav + nav {
  animation: hideNav 0.5s ease 0s 1 alternate both;
}
#showNav + nav + .page {
  animation: normalLabel 0.5s ease 0s 1 alternate both;
}
#showNav + nav + .page > label > .arrow-menu:before {
  animation: bottomArrowRev 1s ease 0s 1 alternate both;
}
#showNav + nav + .page > label > .arrow-menu:after {
  animation: topArrowRev 1s ease 0s 1 alternate both;
}
#showNav + nav + .page > label.hide {
  display: none;
}
#showNav:checked + nav {
  animation: showNav 0.5s ease 0s 1 alternate both;
}
#showNav:checked + nav + .page {
  animation: movedLabel 0.5s ease 0s 1 alternate both;
}
#showNav:checked + nav + .page > label > .arrow-menu:before {
  animation: bottomArrow 1s ease 0s 1 alternate both;
}
#showNav:checked + nav + .page > label > .arrow-menu:after {
  animation: topArrow 1s ease 0s 1 alternate both;
}
#showNav:checked + nav + .page > label.hide {
  display: block;
}
#showNav:checked + nav + .page > label.show {
  display: none;
}

.arrow-menu {
  position: relative;
  width: 30px;
  height: 3px;
  background-color: var(--White);
  margin-right: 20px;
  margin-top: 10px;
}
.arrow-menu:before, .arrow-menu:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 15px;
  background: var(--White);
}
.arrow-menu:before {
  right: -3px;
  bottom: -4px;
  transform: rotate(-45deg);
}
.arrow-menu:after {
  right: -3px;
  top: -4px;
  transform: rotate(45deg);
}

label {
  cursor: pointer;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--White);
  padding-top: 50px;
}

/* Nav */
@keyframes showNav {
  0% {
    left: -300px;
  }
  100% {
    left: 0px;
  }
}

@keyframes hideNav {
  0% {
    left: 0px;
  }
  100% {
    left: -400px;
  }
}

@keyframes movedLabel {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 300px;
  }
}

@keyframes normalLabel {
  0% {
    margin-left: 300px;
  }
  100% {
    margin-left: 0px;
  }
}

/* Arrow */
@keyframes topArrow {
  0% {
    right: -3px;
    top: -4px;
    transform: rotate(45deg);
  }
  50% {
    width: 3px;
    border-radius: 50%;
    top: -20px;
    left: 15px;
  }
  100% {
    left: -3px;
    bottom: -4px;
    transform: rotate(135deg);
    height: 3px;
    width: 15px;
    background: var(--White);
  }
}

@keyframes bottomArrow {
  0% {
    right: -3px;
    bottom: -4px;
    transform: rotate(-45deg);
  }
  50% {
    width: 3px;
    border-radius: 50%;
    bottom: -20px;
    left: 15px;
  }
  100% {
    left: -3px;
    bottom: -4px;
    transform: rotate(-135deg);
    height: 3px;
    width: 15px;
    background: #fff;
  }
}

@keyframes topArrowRev {
  0% {
    left: -3px;
    bottom: -4px;
    transform: rotate(135deg);
    height: 3px;
    width: 15px;
    background: var(--White);
  }
  50% {
    width: 3px;
    border-radius: 50%;
    top: -20px;
    right: 15px;
  }
  100% {
    right: -3px;
    top: -4px;
    transform: rotate(45deg);
  }
}

@keyframes bottomArrowRev {
  0% {
    left: -3px;
    bottom: -4px;
    transform: rotate(-135deg);
    height: 3px;
    width: 15px;
    background: var(--White);
  }
  50% {
    width: 3px;
    border-radius: 50%;
    bottom: -20px;
    right: 15px;
  }
  100% {
    right: -3px;
    bottom: -4px;
    transform: rotate(-45deg);
  }
}