/* services */
.services {
  
}

.services-box {
  color: var(--White);
  font-family: 'Aventi';
  font-size: 1.7rem;
  padding-top: 5rem;
}

.services-box p {
  display: flex;
  justify-content: center;
}

.services-box p:nth-child(2) {
  color: var(--Light-Purple);
  font-style: italic;
}

