/* paragraph */
.box-paragraph {
  color: var(--White);
}

/* card */
.box {
  gap: 2rem;
}

.box-card {
  /* border: 2px solid var(--Light-Purple); */
  /* padding: 20px; */
  height: auto;
  /* background-image: url(./../assets/illustrations/splash-mauve.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; */
}

/* card text */
.text-number {
  color: var(--White);
  font-size: 5rem;
  font-family: 'Aventi';
}

.card-text h4 {
  color: var(--Light-Purple);
  font-family: 'Anton';
  font-size: 2rem;
}

.card-text p {
  color: var(--White);
  font-family: 'Poppins';
  font-size: clamp(0.9rem, 0.859rem + 0.2051vw, 1.1rem);
  text-align: justify;
}

/* card img */
.card-img img {
  object-fit: cover;
  width: 100%;
}

@media screen and (min-width: 605px) {
  .box {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .box {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    position: relative;
  }
  .card-text {
    max-width: 350px;
  }
  .card-text h4 {
    margin-top: -50px;
  }
  .text-number {
    color: var(--White);
    font-size: 15rem;
    font-family: 'Aventi';
  }  
  .box .box-card:nth-child(2) {
    margin-top: 250px;
  }
  .box .box-card:nth-child(3) {
    margin-top: 450px;
  }
  .box .box-card:nth-child(4) {
    margin-top: 450px;
  }
  .box .box-card:nth-child(5) {
    margin-top: 250px;
  }
  .card-img {
    position: absolute;
    top: 40%;
  }
  .card-img img {
    height: 100%;
    object-fit: cover;
    width: 400px;
  }
}