.slider {
  position: absolute;
  bottom: 0;
}

.slider .slide-track {
  -webkit-animation: scroll 20s linear infinite;
          animation: scroll 20s linear infinite;
  display: flex;
}

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100px * 7));
  }
}

.slider .slide svg {
  opacity: .8;
  height: clamp(1.875rem, 1.7468rem + 0.641vw, 2.5rem);
  width: 100px;
}

@media screen and (min-width: 1024px) {
  @-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  
  .slider .slide svg {
    width: 250px;
  }
}