/* slider */
.slider {
  bottom: 0;
  height: auto;
  margin: auto;
  margin-bottom: 2rem;
  position: absolute;
}

.slider .slide-track {
  -webkit-animation: scroll 20s linear infinite;
          animation: scroll 20s linear infinite;
  display: flex;
}

/* slider animation */
@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100px * 7));
  }
}

.slider .slide svg {
  opacity: .7;
  height: clamp(1.875rem, 1.7468rem + 0.641vw, 2.5rem);
  width: 100px;
}

.slider .slide svg:hover {
  opacity: 1;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

/* media queries */
@media screen and (min-width: 1024px) {
  @-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  .slider .slide svg {
    width: 250px;
  }
}